# Trading Configurations
LIVE_TRADING_ENABLED=False
PAPER_TRADING_ENABLED=True

# API Keys
ALPACA_API_KEY=""
ALPACA_SECRET_KEY=""
GEMINI_API_KEY=""
ANTHROPIC_API_KEY=""
OPENROUTER_API_KEY=""
APIFY_TOKEN=""
REDDIT_CLIENT_ID=""
REDDIT_CLIENT_SECRET=""
BINANCE_API_KEY=""
BINANCE_SECRET_KEY=""
TELEGRAM_BOT_TOKEN=""
